app/node-red_mqtt/2/flows_lamp.json
[
    {
        "id": "f7fdcf4625678e58",
        "type": "tab",
        "label": "test_lamps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "730d60c4f121fe17",
        "type": "debug",
        "z": "f7fdcf4625678e58",
        "name": "debug(lamp1)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "68695571e0b5393e",
        "type": "mqtt out",
        "z": "f7fdcf4625678e58",
        "name": "lamp1 [cmd]",
        "topic": "house/device/id-dev1/lights/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cbbd97c9e749d651",
        "x": 1170,
        "y": 580,
        "wires": []
    },
    {
        "id": "9fd782bfad36c32c",
        "type": "ui_switch",
        "z": "f7fdcf4625678e58",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "d7fb6df0f791156f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"command\":\"ON\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"command\":\"OFF\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 480,
        "wires": [
            [
                "68695571e0b5393e",
                "730d60c4f121fe17"
            ]
        ]
    },
    {
        "id": "fb0dd75826485d23",
        "type": "ui_led",
        "z": "f7fdcf4625678e58",
        "order": 3,
        "group": "d7fb6df0f791156f",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#d3d3d3",
                "value": "{\"state\":\"OFF\"}",
                "valueType": "json"
            },
            {
                "color": "#008000",
                "value": "{\"state\":\"ON\"}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1170,
        "y": 240,
        "wires": []
    },
    {
        "id": "f5df4c227bb3f147",
        "type": "mqtt in",
        "z": "f7fdcf4625678e58",
        "name": "",
        "topic": "house/device/id-dev1/lights/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cbbd97c9e749d651",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "fb0dd75826485d23",
                "730d60c4f121fe17"
            ]
        ]
    },
    {
        "id": "cbbd97c9e749d651",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7fb6df0f791156f",
        "type": "ui_group",
        "name": "Lamp 1",
        "tab": "0b912a3e2c090d93",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b912a3e2c090d93",
        "type": "ui_tab",
        "name": "My home",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]